<div class="post">
  <div class="post-upper">
    <span class="icon"></span>
    <span class="post-user-name"><%= post.user.nickname %></span>
    <div class="post-lists">
      <% if user_signed_in? && post.user_id == current_user.id %>
        <span>▼
          <ul>
            <li><%= link_to "編集", edit_post_path(post.id), class: "edit" %></li>
            <li><%= link_to "削除", post_path(post.id), class: "delete", method: :delete %></li>
          </ul>
        </span>
      <% end %>
    </div>
  </div>
  <div class="post-lower">
    <%= image_tag post.image, class: "post-lower-left post-img" if post.image.attached? %>
    <div class="post-lower-right">
      <p>
        <%= post.text %>
      </p>
      <div class="post-nav">
      <div class="likes">
        <% if user_signed_in? && Like.find_by(post_id: post.id, user_id: current_user.id) %>
          <% already_liked = Like.find_by(post_id: post.id, user_id: current_user.id) %>
          <%= link_to 'remove like', post_like_path(post, already_liked), method: :delete %>
        <% else %>
          <%= link_to 'add like', post_likes_path(post.id), method: :post %>
        <% end %>
        <span><%= post.likes.count %></span>
      </div>
      <div class="comments">
        <a href="#">comments</a>
        <span>0</span>
      </div>
      <div class="post-show">
        <%= link_to "show", post_path(post.id) %>
      </div>
    </div>
    </div>
  </div>
</div>