<%= render "shared/header" %>

<main>
  <div class="post-show-container">
    <div class="show-upper">
      <div class="side-bar">
        <ul class="side-lists">
          <li class="list">
            <a href="#">お知らせ</a>
          </li>
          <li class="list">
            <%= link_to "戻る", root_path %>
          </li>
        </ul>
      </div>
      <div class="main-wrapper">
        <%= render partial: 'post', locals: {post: @post} %>
      </div>
    </div>
    <div class="comments-wrapper">
      <%= form_with model: [@post, @comment], local: true do |f| %>
        <div class="comment-form">
          <div class="field">
            <%= f.label :text, "コメント" %>
            <%= f.text_area :text, class: "textarea-default", rows: '8' %>
          </div>
          <div class="submit">
            <%= f.submit "送信", class: "submit-btn" %>
          </div>
        </div>
      <% end %>

      <div class="comments-container">
        <div class="comment">
          <div class="user-box">
            <div class="user-icon"></div>
            <div class="user-name">ユーザー１</div>
          </div>
          <div class="text">
            <p>コメント</p>
          </div>
        </div>

        <div class="comment">
          <div class="user-box self">
            <div class="user-icon"></div>
            <div class="user-name">ユーザー１</div>
          </div>
          <div class="text self-text">
            <p>コメント</p>
          </div>
        </div>

        <div class="comment">
          <div class="user-box">
            <div class="user-icon"></div>
            <div class="user-name">ユーザー１</div>
          </div>
          <div class="text">
            <p>コメント</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= render "shared/footer" %>